.carousel-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  background-color: transparent;
}

.carousel-card-box {
  height: 550px;
  max-width: 350px;
  padding: 1rem;
  transition: all 0.25s ease-in-out;
}

.carousel-card {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.carousel-card-box:hover {
  scale: 1.01;
  transition: all 0.25s ease-in-out;
}
.carousel-card-content-holder {
  border: 20px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
.carousel-card-content-holder.dark {
  backdrop-filter: blur(5px);
  background-color: #ffffff0b;
}
.carousel-card-content-holder.light {
  backdrop-filter: blur(5px);
  background-color: #ffffff0d;
}
.card-image-box {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2%;
  height: 350px;
  max-width: 280px;
}
.card-image {
  width: 95%;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.card-text {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem 1rem 0.25rem;
}

.card-text-content {
  text-align: left;
  height: 80%;
}
.slider {
  width: 100%;
  height: 100%;
}
.card-tips {
  display: flex;
  padding: 0.75rem 0;
  height: 100%;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 0.75rem;
  align-items: center;
}
.card-tips-code {
  height: 100%;
  margin: 0 auto;
  width: 30%;
  padding: 0.2rem 0;
  font-size: 0.85rem;
  display: flex;
  text-decoration: none;
  box-shadow: none;
  background: transparent;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 0.2s;
}
.card-tips-code:hover {
  color: #00adb5;
  transition: all 0.2s;
}

.code-paragraph {
  padding: 0 0.25rem;
}

.card-tips.dark {
  box-sizing: none;
}
.card-tips.dark {
  color: white;
}
.card-text-content h4 {
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}
.card-text-content p {
  color: rgb(105, 105, 105);
  padding-bottom: 0.75rem;
  font-size: 0.85rem;
}

.slick-prev,
.slick-next {
  visibility: hidden;
}

@media screen and (max-width: 500px) {
  .hero-text {
    font-size: 1.5rem;
  }
  .section-header-box {
    bottom: -1vh;
    padding-top: 2rem;
    font-size: 6rem;
    opacity: 0.05;
  }
}
@media screen and (min-width: 501px) {
}
@media screen and (min-width: 800px) {
}
@media screen and (min-width: 1000px) {
}
@media screen and (min-width: 1200px) {
}
