.about-section {
}
.about-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.about-box {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 0 3.5vw;
  text-align: justify;
}
.about-box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-card {
  backdrop-filter: blur(15px);
  border-radius: 10px;
  height: 50%;
  width: 100%;
  display: flex;
}
.text-card {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-card-text {
  font-size: 0.75rem;
}
.image-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 40%;
}
.profile-image {
  height: 100%;
}
.about-box p {
  line-height: 2rem;
  height: 30vw;
  padding: 1rem;
  margin: auto;
  font-size: 1.15rem;
  font-family: 'Playfair Display', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
@media screen and (max-width: 600px) {
  .about-box p {
    line-height: 1.55rem;
    font-size: 1.15rem;
    padding: 0rem;
    margin: 10vh 0;
  }
  .about-box {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 3.5vw;
    text-align: justify;
  }
  .about-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .about-box p {
    font-size: 1.05rem;
    padding: 0rem;
    margin: 5vh 0;
  }
  .about-box {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 3.5vw;
    text-align: justify;
  }
  .about-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 601px) {
  .about-box-1 p {
    font-size: 1.45rem;
    padding: 0rem;
    margin: 5vh 0;
  }

  .about-box {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 3.5vw;
    text-align: justify;
  }
  .about-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 800px) {
  .about-box-1 p {
    font-size: 1.5rem;
    padding: 0rem;
    margin: 5vh 0;
  }
  .about-box {
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0 5vw;
    margin: auto;
    text-align: justify;
  }
  .about-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .about-box-1 p {
    font-size: 1.35rem;
  }
  .about-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 6vw;
    margin: auto;
    text-align: justify;
  }
  .about-container {
    flex-direction: row;
  }
}
